<div class="ui segment blue">
    <h3 class="ui header">BreadCrumb</h3>
    <div class="ui segment teal">
        <div class="ui breadcrumb">
            <a class="section">Home</a>
            <div class="divider"> / </div>
            <a class="section">Store</a>
            <div class="divider"> / </div>
            <div class="active section">T-Shirt</div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui breadcrumb">
            <a class="section">Home</a>
            <i class="right angle icon divider"></i>
            <a class="section">Store</a>
            <i class="right angle icon divider"></i>
            <div class="active section">T-Shirt</div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui breadcrumb">
            <a class="section">Home</a>
            <span class="divider">/</span>
            <a class="section">Registration</a>
            <span class="divider">/</span>
            <div class="active section">Personal Information</div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui breadcrumb">
            <a class="section">Home</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Registration</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">Personal Information</div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui breadcrumb">
            <div class="section">Home</div>
            <div class="divider"> / </div>
            <div class="active section">Search</div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui breadcrumb">
            <a class="section">Home</a>
            <div class="divider"> / </div>
            <div class="active section">Search for: <a href="#">paper towels</a></div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui mini breadcrumb">
            <a class="section">mini</a>
            <i class="right chevron icon divider"></i>
            <a class="section">tiny</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">Personal Information</div>
        </div>
    </div>
</div>
