<div class="ui segment blue">
    <div class="ui grid segment teal">
        <div class="four wide column">1</div>
        <div class="four wide column">2</div>
        <div class="four wide column">3</div>
        <div class="four wide column">4</div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui grid segment teal">
        <div class="four wide column">1</div>
        <div class="four wide column">2</div>
        <div class="four wide column">3</div>
        <div class="four wide column">4</div>
        <div class="two wide column">2</div>
        <div class="eight wide column">8</div>
        <div class="six wide column">6</div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui four column grid segment teal">
        <div class="row">
            <div class="column">4</div>
            <div class="column">4</div>
            <div class="column">4</div>
        </div>
        <div class="column">4</div>
        <div class="column">4</div>
        <div class="column">4</div>
        <div class="column">4</div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui grid segment teal">
        <div class="ui top attached button">Button before grid</div>
        <div class="sixteen wide column"></div>
        <div class="ten wide column"></div>
        <div class="six wide column"></div>
        <div class="ui grid">
            <div class="sixteen wide column"></div>
        </div>
        <div class="ui bottom attached button">Button after grid</div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui four column relaxed grid segment teal">
        <div class="row">
            <div class="column teal">4</div>
            <div class="column teal">4</div>
            <div class="column teal">4</div>
        </div>
        <div class="column teal ">4</div>
        <div class="column teal ">4</div>
        <div class="column teal ">4</div>
        <div class="column teal ">4</div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui grid segment teal">
        <div class="four wide column">THIS IS A COLUMN</div>
        <div class="four wide column">THIS IS A COLUMN</div>
        <div class="four wide column">THIS IS A COLUMN</div>
        <div class="four wide column">THIS IS A COLUMN</div>
        <div class="four wide column">THIS IS A COLUMN</div>
        <div class="four wide column">THIS IS A COLUMN</div>
        <div class="four wide column">THIS IS A COLUMN</div>
        <div class="four wide column">THIS IS A COLUMN</div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui grid segment teal three column">
        <div class="column">
            <div class="ui segment">
                <img alt="img" title="img">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img alt="img" title="img">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img alt="img" title="img">
            </div>
        </div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui grid segment teal internally celled">
        <div class="row">
            <div class="three wide column">
                <img>
            </div>
            <div class="ten wide column">
                <p></p>
            </div>
            <div class="three wide column">
                <img>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <img>
            </div>
            <div class="ten wide column">
                <p>THIS IS USED FOR ENTIRE WEB STRUCTURE</p>
            </div>
            <div class="three wide column">
                <img>
            </div>
        </div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui grid segment teal two column red tertiary ">
        <div class="column">
            <div class="ui three column grid padded ">
                <div class="column red tertiary">WELL</div>
                <div class="column red secondary">WELL</div>
                <div class="column red">WELL</div>
            </div>
        </div>
        <div class="column inverted teal">GRID</div>
        <div class="column">GRID</div>
        <div class="column">
            <div class="ui grid">
                <div class="ten wide column ">GRID</div>
                <div class="six wide column tertiary">GRID</div>
            </div>
        </div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui equal width center aligned padded grid">
        <div class="row">
            <div class="olive column">
                Olive
            </div>
            <div class="black column">
                Black
            </div>
        </div>
        <div class="row" style="background-color: #869D05;color: #FFFFFF;">
            <div class="column">Custom Row</div>
        </div>
        <div class="row">
            <div class="black column">
                Black
            </div>
            <div class="olive column">
                Olive
            </div>
        </div>
    </div>
    <div class="ui horizontal divider">or</div>
    <div class="ui equal width grid segment teal center">
        <div class="column">Equal Width</div>
        <div class="column">Equal Width</div>
        <div class="column">Equal Width</div>
        <div class="equal width row">
            <div class="column">Equal Width Center</div>
            <div class="column">Equal Width Center</div>
        </div>
    </div>
    <div class="ui equal width grid segment teal center">
        <div class="ui right aligned grid">
            <div class="left floated right aligned six wide column">
                <div class="ui segment">
                    Left floated right aligned column
                </div>
            </div>
            <div class="right floated left aligned six wide column">
                <div class="ui segment">
                    Right floated left aligned column
                </div>
            </div>
            <div class="center aligned two column row">
                <div class="column">
                    <div class="ui segment">
                        Center aligned row
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        Center aligned row
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui segment">
                    Right Aligned Grid
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid container segment teal">
        <div class="four wide column">Container</div>
        <div class="four wide column">Container</div>
        <div class="four wide column">Container</div>
        <div class="four wide column">Container</div>
        <div class="four wide column">Container</div>
        <div class="four wide column">Container</div>
        <div class="four wide column">Container</div>
        <div class="four wide column">Container</div>
    </div>
    <div class="ui stackable four column grid segment teal">
        <div class="column">THIS IS A STACKABLE COLUMN</div>
        <div class="column">THIS IS A STACKABLE COLUMN</div>
        <div class="column">THIS IS A STACKABLE COLUMN</div>
        <div class="column">THIS IS A STACKABLE COLUMN</div>
    </div>
    <div class="ui mobile reversed equal width grid segment teal">
        <div class="column">
            First
        </div>
        <div class="column">
            Second
        </div>
        <div class="column">
            Third
        </div>
    </div>
    <div class="ui grid segment teal">
        <div class="doubling eight column row">
            <div class="column">8 Columns</div>
            <div class="column">8 Columns</div>
            <div class="column">8 Columns</div>
            <div class="column">8 Columns</div>
            <div class="column">8 Columns</div>
            <div class="column">8 Columns</div>
            <div class="column">8 Columns</div>
            <div class="column">8 Columns</div>
        </div>
        <div class="doubling six column row">
            <div class="column">6 Column</div>
            <div class="column">6 Column</div>
            <div class="column">6 Column</div>
            <div class="column">6 Column</div>
            <div class="column">6 Column</div>
            <div class="column">6 Column</div>
        </div>
        <div class="doubling four column row">
            <div class="column">4 Column</div>
            <div class="column">4 Column</div>
            <div class="column">4 Column</div>
            <div class="column">4 Column</div>
        </div>
    </div>
    <div class="ui centered grid segment teal padded">
        <div class="computer only row">
            <div class="column yellow">Computer Only</div>
        </div>
        <div class="six wide tablet eight wide computer column red">Tablet & Computer responsive</div>
        <div class="six wide tablet eight wide computer column pink">Tablet & Computer responsive</div>
        <div class="six wide tablet eight wide computer column blue">Tablet & Computer responsive</div>
        <div class="six wide tablet eight wide computer column purple">Tablet & Computer responsive</div>
        <div class="six wide tablet eight wide computer column green">Tablet & Computer responsive</div>
    </div>
</div>