<div class="ui segment blue">
    <div class="ui segment teal">
        <div class="ui text menu">
            <div class="item">
                <img src="http://semantic-ui.com/images/new-school.jpg">
            </div>
            <a class="browse item">
                Browse Courses
                <i class="dropdown icon"></i>
            </a>
            <div class="ui right dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Applications</div>
                    <div class="item">International Students</div>
                    <div class="item">Scholarships</div>
                </div>
            </div>
        </div>
        <div class="ui flowing basic admission popup">
            <div class="ui three column relaxed divided grid">
                <div class="column">
                    <h4 class="ui header">Business</h4>
                    <div class="ui link list">
                        <a class="item">Design &amp; Urban Ecologies</a>
                        <a class="item">Fashion Design</a>
                        <a class="item">Fine Art</a>
                        <a class="item">Strategic Design</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Liberal Arts</h4>
                    <div class="ui link list">
                        <a class="item">Anthropology</a>
                        <a class="item">Economics</a>
                        <a class="item">Media Studies</a>
                        <a class="item">Philosophy</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Social Sciences</h4>
                    <div class="ui link list">
                        <a class="item">Food Studies</a>
                        <a class="item">Journalism</a>
                        <a class="item">Non Profit Management</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui top attached menu">
            <div class="ui dropdown icon item">
                <i class="wrench icon"></i>
                <div class="menu">
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">New</span>
                        <div class="menu">
                            <div class="item">Document</div>
                            <div class="item">Image</div>
                        </div>
                    </div>
                    <div class="item">
                        Open...
                    </div>
                    <div class="item">
                        Save...
                    </div>
                    <div class="item">Edit Permissions</div>
                    <div class="divider"></div>
                    <div class="header">
                        Export
                    </div>
                    <div class="item">
                        Share...
                    </div>
                </div>
            </div>
            <div class="right menu">
                <div class="ui right aligned category search item">
                    <div class="ui transparent icon input">
                        <input class="prompt" type="text" placeholder="Search animals...">
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <p></p>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui secondary  menu">
            <a class="active item">
                Home
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item">
                Friends
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a class="ui item">
                    Logout
                </a>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui pointing menu">
            <a class="item">
                Home
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item active">
                Friends
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <p></p>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui secondary pointing menu">
            <a class="item">
                Home
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item active">
                Friends
            </a>
            <div class="right menu">
                <a class="ui item">
                    Logout
                </a>
            </div>
        </div>
        <div class="ui segment">
            <p></p>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui tabular menu">
            <a class="item">
                Bio
            </a>
            <a class="item active">
                Photos
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui top attached tabular menu">
            <a class="item">
                Bio
            </a>
            <a class="item active">
                Photos
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search users...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <p></p>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui top attached segment">
            <p></p>
        </div>
        <div class="ui bottom attached tabular menu">
            <a class="item">
                Active Project
            </a>
            <a class="item">
                Project #2
            </a>
            <a class="item active">
                Project #3
            </a>
            <div class="right menu">
                <a class="item">
                    <i class="add icon"></i> New Tab
                </a>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid tabular menu">
                    <a class="active item">
                        Bio
                    </a>
                    <a class="item">
                        Pics
                    </a>
                    <a class="item">
                        Companies
                    </a>
                    <a class="item">
                        Links
                    </a>
                </div>
            </div>
            <div class="twelve wide stretched column">
                <div class="ui segment">
                    This is an stretched grid column. This segment will always match the tab height
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui grid">
            <div class="twelve wide stretched column">
                <div class="ui segment">
                    This is an stretched grid column. This segment will always match the tab height
                </div>
            </div>
            <div class="four wide column">
                <div class="ui vertical fluid right tabular menu">
                    <a class="active item">
                        Bio
                    </a>
                    <a class="item">
                        Pics
                    </a>
                    <a class="item">
                        Companies
                    </a>
                    <a class="item">
                        Links
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui text menu">
            <div class="header item">Sort By</div>
            <a class="active item">
                Closest
            </a>
            <a class="item">
                Most Comments
            </a>
            <a class="item">
                Most Popular
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui vertical menu">
            <a class="active teal item">
                Inbox
                <div class="ui teal left pointing label">1</div>
            </a>
            <a class="item">
                Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">
                Updates
                <div class="ui label">1</div>
            </a>
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search mail...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui secondary vertical menu">
            <a class="active item">
                Account
            </a>
            <a class="item">
                Settings
            </a>
            <div class="ui dropdown item">
                <i class="dropdown icon"></i>
                Display Options
                <div class="menu">
                    <div class="header">Text Size</div>
                    <a class="item">Small</a>
                    <a class="item">Medium</a>
                    <a class="item">Large</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui vertical text menu">
            <div class="header item">Sort By</div>
            <a class="active item">
                Closest
            </a>
            <a class="item">
                Most Comments
            </a>
            <a class="item">
                Most Popular
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui vertical pointing menu">
            <a class="active item">
                Home
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item">
                Friends
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui secondary vertical pointing menu">
            <a class="item">
                Home
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item active">
                Friends
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui pagination menu">
            <a class="active item">
                1
            </a>
            <div class="disabled item">
                ...
            </div>
            <a class="item">
                10
            </a>
            <a class="item">
                11
            </a>
            <a class="item">
                12
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui menu">
            <div class="header item">
                Our Company
            </div>
            <a class="item">
                About Us
            </a>
            <a class="item">
                Jobs
            </a>
            <a class="item">
                Locations
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Products</div>
                <div class="menu">
                    <a class="item">Enterprise</a>
                    <a class="item">Consumer</a>
                </div>
            </div>
            <div class="item">
                <div class="header">CMS Solutions</div>
                <div class="menu">
                    <a class="item">Rails</a>
                    <a class="item">Python</a>
                    <a class="item">PHP</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Hosting</div>
                <div class="menu">
                    <a class="item">Shared</a>
                    <a class="item">Dedicated</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Support</div>
                <div class="menu">
                    <a class="item">E-mail Support</a>
                    <a class="item">FAQs</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui vertical menu">
            <a class="item">
                <h4 class="ui header">Promotions</h4>
                <p>Check out our new promotions</p>
            </a>
            <a class="item">
                <h4 class="ui header">Coupons</h4>
                <p>Check out our collection of coupons</p>
            </a>
            <a class="item">
                <h4 class="ui header">Rebates</h4>
                <p>Visit our rebate forum for information on claiming rebates</p>
            </a>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="right item">
                <div class="ui action input">
                    <input type="text" placeholder="Navigate to...">
                    <div class="ui button">Go</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui menu">
            <a class="browse item">
                Browse
                <i class="dropdown icon"></i>
            </a>
        </div>
        <div class="ui fluid popup top left transition hidden">
            <div class="ui four column relaxed equal height divided grid">
                <div class="column">
                    <h4 class="ui header">Fabrics</h4>
                    <div class="ui link list">
                        <a class="item">Cashmere</a>
                        <a class="item">Linen</a>
                        <a class="item">Cotton</a>
                        <a class="item">Viscose</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Size</h4>
                    <div class="ui link list">
                        <a class="item">Small</a>
                        <a class="item">Medium</a>
                        <a class="item">Large</a>
                        <a class="item">Plus Sizes</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Colored</h4>
                    <div class="ui link list">
                        <a class="item">Neutrals</a>
                        <a class="item">Brights</a>
                        <a class="item">Pastels</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Types</h4>
                    <div class="ui link list">
                        <a class="item">Knitwear</a>
                        <a class="item">Outerwear</a>
                        <a class="item">Pants</a>
                        <a class="item">Shoes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui vertical menu">
            <div class="item">
                <div class="ui input"><input type="text" placeholder="Search..."></div>
            </div>
            <div class="item">
                Home
                <div class="menu">
                    <a class="active item">Search</a>
                    <a class="item">Add</a>
                    <a class="item">Remove</a>
                </div>
            </div>
            <a class="item">
                <i class="grid layout icon"></i> Browse
            </a>
            <a class="item">
                Messages
            </a>
            <div class="ui dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui borderless menu">
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="item">5</a>
            <a class="item">6</a>
        </div>
    </div>
</div>
<script>
    $(function () {
        var
            $dropdownItem = $('.segment.blue .menu .dropdown .item'),
            $popupItem = $('.segment.blue .popup.example .browse.item'),
            $menuItem = $('.segment.blue .menu a.item, .menu .link.item').not($dropdownItem),
            $dropdown = $('.segment.blue .menu .ui.dropdown'),
            handler = {
                activate: function () {
                    if (!$(this).hasClass('dropdown browse')) {
                        $(this)
                            .addClass('active')
                            .closest('.ui.menu')
                            .find('.item')
                            .not($(this))
                            .removeClass('active');
                    }
                }
            };
        $dropdown
            .dropdown({
                on: 'hover'
            });
        $('.segment.blue .ui.search')
            .search({
                type: 'category',
                apiSettings: {
                    action: 'categorySearch'
                }
            });
        $('.segment.teal .browse.item')
            .popup({
                popup: '.admission.popup',
                hoverable: true,
                position: 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            });
        $popupItem
            .popup({
                inline: true,
                hoverable: true,
                popup: '.fluid.popup',
                position: 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            });
        $menuItem
            .on('click', handler.activate);
    });
</script>