body {
  font-family: Microsoft Yahei, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Microsoft Yahei, sans-serif;

}

.ui {
  .header,
  .button {
    font-family: "MicrosoftJhengHei", Microsoft Yahei, "Microsoft YaHei", STHeiti, MingLiu, sans-serif;
  }
}
