<div class="ui segment blue">
    <h3 class="ui header">按钮</h3>
    <button class="ui button">
        跟进
    </button>
    <button class="ui button">
        按钮
    </button>
    <div class="ui button" tabindex="0">
        可以获得焦点
    </div>

    <div class="ui segment teal">
        <h3 class="ui header">重点
            <small>Emphasis</small>
        </h3>
        <button class="ui primary button">保存</button>
        <button class="ui button">丢弃</button>
        <button class="ui secondary button">确认</button>
        <button class="ui button">取消</button>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">动画
            <small>Animate</small>
        </h3>
        <div class="ui animated button">
            <div class="visible content">下一步</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </div>
        <div class="ui vertical animated button">
            <div class="hidden content">商店</div>
            <div class="visible content">
                <i class="shop icon"></i>
            </div>
        </div>
        <div class="ui animated fade button">
            <div class="visible content"> - 注 册 -</div>
            <div class="hidden content">
                $12.99 每月
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">标签
            <small>labeled</small>
        </h3>
        <div class="ui labeled button" tabindex="0">
            <div class="ui button">
                <i class="heart icon"></i> 喜欢
            </div>
            <a href="" class="ui basic label left pointing">2,048</a>
        </div>
        <div class="ui  left labeled button" tabindex="0">
            <a href="" class="ui basic right pointing label">
                2,048
            </a>
            <div class="ui button">
                <i class="heart icon"></i> 喜欢
            </div>
        </div>
        <div class="ui left labeled button" tabindex="0">
            <a class="ui basic right pointing label">
                2,048
            </a>
            <div class="ui button">
                <i class="heart icon"></i> Like
            </div>
        </div>
        <div class="ui labeled button" tabindex="0">
            <div class="ui red button">
                <i class="heart icon"></i> 喜欢
            </div>
            <a href="" class="ui basic red left pointing label">
                1,024
            </a>
        </div>
        <div class="ui left labeled button" tabindex="0">
            <a href="" class="ui basic blue right pointing label">1,293</a>
            <div class="ui basic blue button">
                <i class="fork icon"></i> 提交
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">图标
            <small>Icon</small>
        </h3>
        <button class="ui button basic icon">
            <i class="cloud icon"></i>
            <i class="fork icon"></i>
            <i class="heart icon"></i>
            <i class="mail icon"></i>
            <i class=" right arrow icon"></i>
        </button>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">图标标签
            <small>Labeled Icon</small>
        </h3>
        <button class="ui labeled icon button">
            <i class="pause icon"></i>暂停
        </button>
        <button class="ui labeled icon button">
            <i class="right arrow icon"></i>前进
        </button>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">基本
            <small>Basic</small>
        </h3>
        <button class="ui basic button">
            <i class="user icon"></i>添加好友
        </button>
        <button class="ui primary basic button">基本</button>
        <button class="ui secondary basic button">次要</button>
        <button class="ui positive basic button">积极</button>
        <button class="ui negative basic button">消极</button>

        <div class="ui segment">
            <button class="ui red basic button">红</button>
            <button class="ui orange basic button">橙</button>
            <button class="ui yellow basic button">黄</button>
            <button class="ui olive basic button">屎黄</button>
            <button class="ui green basic button">绿</button>
            <button class="ui teal basic button">青</button>
            <button class="ui blue basic button">蓝</button>
            <button class="ui violet basic button">重紫</button>
            <button class="ui purple basic button">紫</button>
            <button class="ui pink basic button">粉</button>
            <button class="ui brown basic button">棕</button>
            <button class="ui grey basic button">灰</button>
            <button class="ui black basic button">黑</button>
        </div>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">反向
            <small>Inverted</small>
        </h3>
        <div class="ui inverted segment">
            <button class="ui inverted button">Standard</button>
            <button class="ui inverted red button">Red</button>
            <button class="ui inverted orange button">Orange</button>
            <button class="ui inverted yellow button">Yellow</button>
            <button class="ui inverted olive button">Olive</button>
            <button class="ui inverted green button">Green</button>
            <button class="ui inverted teal button">Teal</button>
            <button class="ui inverted blue button">Blue</button>
            <button class="ui inverted violet button">Violet</button>
            <button class="ui inverted purple button">Purple</button>
            <button class="ui inverted pink button">Pink</button>
            <button class="ui inverted brown button">Brown</button>
            <button class="ui inverted grey button">Grey</button>
            <button class="ui inverted black button">Black</button>
        </div>

        <div class="ui inverted segment">
            <button class="ui inverted basic button">Basic</button>
            <button class="ui inverted red basic button">Basic Red</button>
            <button class="ui inverted orange basic button">Basic Orange</button>
            <button class="ui inverted yellow basic button">Basic Yellow</button>
            <button class="ui inverted olive basic button">Basic Olive</button>
            <button class="ui inverted green basic button">Basic Green</button>
            <button class="ui inverted teal basic button">Basic Teal</button>
            <button class="ui inverted blue basic button">Basic Blue</button>
            <button class="ui inverted violet basic button">Basic Violet</button>
            <button class="ui inverted purple basic button">Basic Purple</button>
            <button class="ui inverted pink basic button">Basic Pink</button>
            <button class="ui inverted brown basic button">Basic Brown</button>
            <button class="ui inverted grey basic button">Basic Grey</button>
            <button class="ui inverted black basic button">Basic Black</button>
        </div>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">图标按钮
            <small>Icon Buttons</small>
        </h3>
        <div class="ui icon buttons">
            <button class="ui button"><i class="align left icon"></i></button>
            <button class="ui button"><i class="align center icon"></i></button>
            <button class="ui button"><i class="align right icon"></i></button>
            <button class="ui button"><i class="align justify icon"></i></button>
        </div>
        <div class="ui icon buttons">
            <button class="ui button"><i class="bold icon"></i></button>
            <button class="ui button"><i class="underline icon"></i></button>
            <button class="ui button"><i class="text width icon"></i></button>
        </div>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">内容
            <small>Content</small>
        </h3>
        <div class="ui buttons">
            <button class="ui button">取消</button>
            <div class="or" data-text="或"></div>
            <button class="ui positive button">保存</button>
        </div>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">状态
            <small>States</small>
        </h3>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">活动</h4>
        <button class="ui active button">
            <i class="user icon"></i>
            关注
        </button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">禁用</h4>
        <button class="ui disabled button">
            <i class="user icon"></i>
            已关注
        </button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">加载</h4>
        <button class="ui loading button">加载中</button>
        <button class="ui basic loading button">加载中</button>
        <button class="ui primary loading button">加载中</button>
        <button class="ui secondary loading  button">加载中</button>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">变量
            <small>Variations</small>
        </h3>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">社交
            <small>Social</small>
        </h4>

        <button class="ui facebook button">
            <i class="facebook icon"></i>
            Facebook
        </button>
        <button class="ui twitter button">
            <i class="twitter icon"></i>
            Twitter
        </button>
        <button class="ui google plus button">
            <i class="google plus icon"></i>
            Google Plus
        </button>
        <button class="ui vk button">
            <i class="vk icon"></i>
            VK
        </button>
        <button class="ui linkedin button">
            <i class="linkedin icon"></i>
            LinkedIn
        </button>
        <button class="ui instagram button">
            <i class="instagram icon"></i>
            Instagram
        </button>
        <button class="ui youtube button">
            <i class="youtube icon"></i>
            YouTube
        </button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">大小
            <small>size</small>
        </h4>
        <button class="mini ui button">
            Mini
        </button>
        <button class="tiny ui button">
            Tiny
        </button>
        <button class="small ui button">
            Small
        </button>
        <button class="medium ui button">
            Medium
        </button>
        <button class="large ui button">
            Large
        </button>
        <button class="big ui button">
            Big
        </button>
        <button class="huge ui button">
            Huge
        </button>
        <button class="massive ui button">
            Massive
        </button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">浮动
            <small>Floated</small>
        </h4>
        <button class="ui right floated button">Right Floated</button>
        <button class="ui left floated button">Left Floated</button>
        <div class="ui clearing divider"></div>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">着色
            <small>colored</small>
        </h4>
        <button class="ui red button">红</button>
        <button class="ui orange button">橙</button>
        <button class="ui yellow button">黄</button>
        <button class="ui olive button">屎黄</button>
        <button class="ui green button">绿</button>
        <button class="ui teal button">青</button>
        <button class="ui blue button">蓝</button>
        <button class="ui violet button">重紫</button>
        <button class="ui purple button">紫</button>
        <button class="ui pink button">粉</button>
        <button class="ui brown button">棕</button>
        <button class="ui grey button">灰</button>
        <button class="ui black button">黑</button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">紧凑
            <small>Compact</small>
        </h4>
        <button class="compact ui button">
            保持
        </button>
        <button class="ui compact icon button">
            <i class="pause icon"></i>
        </button>
        <button class="ui compact labeled icon button">
            <i class="pause icon"></i>
            暂停
        </button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">转换
            <small>Toggle</small>
        </h4>
        <button class="ui toggle button">投票</button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">积极
            <small>Positive</small>
        </h4>
        <button class="positive ui button">积极按钮</button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">消极
            <small>Negative</small>
        </h4>
        <button class="negative ui button">消极按钮</button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">流动
            <small>Fluid</small>
        </h4>
        <button class="ui fluid button">流动</button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">环形
            <small>circular</small>
        </h4>
        <button class="circular ui icon button">
            <i class="icon settings"></i>
        </button>
        <button class="ui circular facebook icon button">
            <i class="facebook icon"></i>
        </button>
        <button class="ui circular twitter icon button">
            <i class="twitter icon"></i>
        </button>
        <button class="ui circular linkedin icon button">
            <i class="linkedin icon"></i>
        </button>
        <button class="ui circular google plus icon button">
            <i class="google plus icon"></i>
        </button>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">竖直附加
            <small>Vertically Attached</small>
        </h4>
        <div class="ui top attached button" tabindex="0">Top</div>
        <div class="ui attached segment">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
        </div>
        <div class="ui bottom attached button" tabindex="0">Bottom</div>
        <div class="ui two top attached buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
        </div>
        <div class="ui attached segment">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
        </div>
        <div class="ui two bottom attached buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
        </div>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">水平附加
            <small>Horizontally Attached</small>
        </h4>
        <button class="ui left attached button">Left</button>
        <button class="right attached ui button">Right</button>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">变量组
            <small>Group Variations</small>
        </h3>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">变量组
            <small>Group Variations</small>
        </h4>
        <div class="ui vertical buttons">
            <button class="ui button">Feed</button>
            <button class="ui button">Messages</button>
            <button class="ui button">Events</button>
            <button class="ui button">Photos</button>
        </div>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">变量组
            <small>Group Variations</small>
        </h4>
        <div class="ui icon buttons">
            <button class="ui button">
                <i class="play icon"></i>
            </button>
            <button class="ui button">
                <i class="pause icon"></i>
            </button>
            <button class="ui button">
                <i class="shuffle icon"></i>
            </button>
        </div>
        <div class="ui vertical labeled icon buttons">
            <button class="ui button">
                <i class="pause icon"></i>
                Pause
            </button>
            <button class="ui button">
                <i class="play icon"></i>
                Play
            </button>
            <button class="ui button">
                <i class="shuffle icon"></i>
                Shuffle
            </button>
        </div>
        <div class="ui buttons">
            <button class="ui labeled icon button">
                <i class="left chevron icon"></i>
                Back
            </button>
            <button class="ui button">
                <i class="stop icon"></i>
                Stop
            </button>
            <button class="ui right labeled icon button">
                Forward
                <i class="right chevron icon"></i>
            </button>
        </div>
        <div class="five ui buttons">
            <button class="ui button">Overview</button>
            <button class="ui button">Specs</button>
            <button class="ui button">Warranty</button>
            <button class="ui button">Reviews</button>
            <button class="ui button">Support</button>
        </div>
        <div class="three ui buttons">
            <button class="ui button">Overview</button>
            <button class="ui button">Specs</button>
            <button class="ui button">Support</button>
        </div>
        <div class="blue ui buttons">
            <button class="ui button">One</button>
            <button class="ui button">Two</button>
            <button class="ui button">Three</button>
        </div>
        <div class="ui basic buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui vertical basic buttons">
            <button class="ui button">One</button>
            <button class="ui button">Two</button>
            <button class="ui button">Three</button>
        </div>
        <div class="ui buttons">
            <button class="ui red basic button">One</button>
            <button class="ui blue basic button">Two</button>
            <button class="ui green basic button">Three</button>
        </div>
        <div class="large ui buttons">
            <button class="ui button">One</button>
            <button class="ui button">Two</button>
            <button class="ui button">Three</button>
        </div>
        <div class="ui small basic icon buttons">
            <button class="ui button"><i class="file icon"></i></button>
            <button class="ui button"><i class="save icon"></i></button>
            <button class="ui button"><i class="upload icon"></i></button>
            <button class="ui button"><i class="download icon"></i></button>
        </div>
        <div class="ui large buttons">
            <button class="ui button">One</button>
            <div class="or"></div>
            <button class="ui button">Two</button>
        </div>
    </div>
</div>