<div class="ui segment blue">
    <h2 class="ui header">分区</h2>
    <div class="ui segment teal">
        <div class="ui three column very relaxed grid">
            <div class="column">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
            <div class="ui vertical divider">
                and
            </div>
            <div class="column">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
            <div class="ui vertical divider">
                not
            </div>
            <div class="column">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui two column middle aligned very relaxed stackable grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>用户名</label>
                        <div class="ui left icon input">
                            <input type="text" placeholder="用户名">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>密码</label>
                        <div class="ui left icon input">
                            <input type="password" placeholder="密码">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui blue submit button">登录</div>
                </div>
            </div>
            <div class="ui vertical divider">
                或
            </div>
            <div class="center aligned column">
                <div class="ui primary labeled icon button">
                    <i class="signup icon"></i>
                    注册
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">水平的分割
            <small>Horizontal Divider</small>
        </h4>
        <div class="ui center aligned basic segment">
            <div class="ui left icon action input">
                <i class="search icon"></i>
                <input type="text" placeholder="查找订单">
                <div class="ui blue submit button">搜索</div>
            </div>
            <div class="ui horizontal divider">
                或
            </div>
            <div class="ui teal labeled icon button">
                创建一个新的订单
                <i class="add icon"></i>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
            描述
        </h4>
        <p>略</p>
        <h4 class="ui horizontal divider header">
            <i class="bar chart icon"></i>
            特征
        </h4>
        <table class="ui definition table">
            <tbody>
            <tr>
                <td class="two wide column">大小</td>
                <td>1" x 2"</td>
            </tr>
            <tr>
                <td>重量</td>
                <td>12斤</td>
            </tr>
            <tr>
                <td>颜色</td>
                <td>黄</td>
            </tr>
            <tr>
                <td>气味</td>
                <td>一般</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ui segment teal">
        <div class="ui inverted segment">
            <p></p>
            <div class="ui inverted divider"></div>
            <p></p>
            <h4 class="ui horizontal inverted divider">
                竖直方向
            </h4>
        </div>
    </div>
    <div class="ui segment teal">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
        Nullam
        malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
        <div class="ui fitted divider"></div>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
        Nullam
        malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">第一部分</h3>
        <div class="ui hidden divider"></div>
        <h3 class="ui header">第二部分</h3>
    </div>
    <div class="ui segment teal">
        <h3 class="ui header">第一部分</h3>
        <div class="ui divider"></div>
        <h3 class="ui header">第二部分</h3>
    </div>
    <div class="ui segment teal">
        <h4 class="ui header">国旗
            <small>Flag</small>
        </h4>
        <!--<i class="ui flag ad"></i>-->
        <i class="ui flag ae"></i>
        <i class="ui flag af"></i>
        <i class="ui flag ag"></i>
        <i class="ui flag ai"></i>
        <i class="ui flag al"></i>
        <i class="ui flag am"></i>
        <i class="ui flag an"></i>
        <i class="ui flag ao"></i>
        <i class="ui flag ar"></i>
        <i class="ui flag as"></i>
        <i class="ui flag at"></i>
        <i class="ui flag au"></i>
        <i class="ui flag aw"></i>
        <i class="ui flag ax"></i>
        <i class="ui flag az"></i>
        <i class="ui flag ba"></i>
        <i class="ui flag bb"></i>
        <i class="ui flag bd"></i>
        <i class="ui flag be"></i>
        <i class="ui flag bf"></i>
        <i class="ui flag bg"></i>
        <i class="ui flag bh"></i>
        <i class="ui flag bi"></i>
        <i class="ui flag bj"></i>
        <i class="ui flag bm"></i>
        <i class="ui flag bn"></i>
        <i class="ui flag bo"></i>
        <i class="ui flag br"></i>
        <i class="ui flag bs"></i>
        <i class="ui flag bt"></i>
        <i class="ui flag bv"></i>
        <i class="ui flag bw"></i>
        <i class="ui flag by"></i>
        <i class="ui flag bz"></i>
        <i class="ui flag ca"></i>
        <i class="ui flag cc"></i>
        <i class="ui flag cd"></i>
        <i class="ui flag cf"></i>
        <i class="ui flag cg"></i>
        <i class="ui flag ch"></i>
        <i class="ui flag ci"></i>
        <i class="ui flag ck"></i>
        <i class="ui flag cl"></i>
        <i class="ui flag cm"></i>
        <i class="ui flag cn"></i>
        <i class="ui flag co"></i>
        <i class="ui flag cr"></i>
        <i class="ui flag cs"></i>
        <i class="ui flag cu"></i>
        <i class="ui flag cv"></i>
        <i class="ui flag cx"></i>
        <i class="ui flag cy"></i>
        <i class="ui flag cz"></i>
        <i class="ui flag de"></i>
        <i class="ui flag dj"></i>
        <i class="ui flag dk"></i>
        <i class="ui flag dm"></i>
        <i class="ui flag do"></i>
        <i class="ui flag dz"></i>
        <i class="ui flag ec"></i>
        <i class="ui flag ee"></i>
        <i class="ui flag eg"></i>
        <i class="ui flag eh"></i>
        <i class="ui flag er"></i>
        <i class="ui flag es"></i>
        <i class="ui flag et"></i>
        <i class="ui flag eu"></i>
        <i class="ui flag fi"></i>
        <i class="ui flag fj"></i>
        <i class="ui flag fm"></i>
        <i class="ui flag fo"></i>
        <i class="ui flag fr"></i>
        <i class="ui flag ga"></i>
        <i class="ui flag gb"></i>
        <i class="ui flag gb sct"></i>
        <i class="ui flag gb wls"></i>
        <i class="ui flag gd"></i>
        <i class="ui flag ge"></i>
        <i class="ui flag gf"></i>
        <i class="ui flag gh"></i>
        <i class="ui flag gi"></i>
        <i class="ui flag gl"></i>
        <i class="ui flag gm"></i>
        <i class="ui flag gn"></i>
        <i class="ui flag gp"></i>
        <i class="ui flag gq"></i>
        <i class="ui flag gr"></i>
        <i class="ui flag gs"></i>
        <i class="ui flag gt"></i>
        <i class="ui flag gu"></i>
        <i class="ui flag gw"></i>
        <i class="ui flag gy"></i>
        <i class="ui flag hk"></i>
        <i class="ui flag hm"></i>
        <i class="ui flag hn"></i>
        <i class="ui flag hr"></i>
        <i class="ui flag ht"></i>
        <i class="ui flag hu"></i>
        <i class="ui flag id"></i>
        <i class="ui flag ie"></i>
        <i class="ui flag il"></i>
        <i class="ui flag in"></i>
        <i class="ui flag io"></i>
        <i class="ui flag iq"></i>
        <i class="ui flag ir"></i>
        <i class="ui flag is"></i>
        <i class="ui flag it"></i>
        <i class="ui flag jm"></i>
        <i class="ui flag jo"></i>
        <i class="ui flag jp"></i>
        <i class="ui flag ke"></i>
        <i class="ui flag kg"></i>
        <i class="ui flag kh"></i>
        <i class="ui flag ki"></i>
        <i class="ui flag km"></i>
        <i class="ui flag kn"></i>
        <i class="ui flag kp"></i>
        <i class="ui flag kr"></i>
        <i class="ui flag kw"></i>
        <i class="ui flag ky"></i>
        <i class="ui flag kz"></i>
        <i class="ui flag la"></i>
        <i class="ui flag lb"></i>
        <i class="ui flag lc"></i>
        <i class="ui flag li"></i>
        <i class="ui flag lk"></i>
        <i class="ui flag lr"></i>
        <i class="ui flag ls"></i>
        <i class="ui flag lt"></i>
        <i class="ui flag lu"></i>
        <i class="ui flag lv"></i>
        <i class="ui flag ly"></i>
        <i class="ui flag ma"></i>
        <i class="ui flag mc"></i>
        <i class="ui flag md"></i>
        <i class="ui flag me"></i>
        <i class="ui flag mg"></i>
        <i class="ui flag mh"></i>
        <i class="ui flag mk"></i>
        <i class="ui flag ml"></i>
        <i class="ui flag mm"></i>
        <i class="ui flag mn"></i>
        <i class="ui flag mo"></i>
        <i class="ui flag mp"></i>
        <i class="ui flag mq"></i>
        <i class="ui flag mr"></i>
        <i class="ui flag ms"></i>
        <i class="ui flag mt"></i>
        <i class="ui flag mu"></i>
        <i class="ui flag mv"></i>
        <i class="ui flag mw"></i>
        <i class="ui flag mx"></i>
        <i class="ui flag my"></i>
        <i class="ui flag mz"></i>
        <i class="ui flag na"></i>
        <i class="ui flag nc"></i>
        <i class="ui flag ne"></i>
        <i class="ui flag nf"></i>
        <i class="ui flag ng"></i>
        <i class="ui flag ni"></i>
        <i class="ui flag nl"></i>
        <i class="ui flag no"></i>
        <i class="ui flag np"></i>
        <i class="ui flag nr"></i>
        <i class="ui flag nu"></i>
        <i class="ui flag nz"></i>
        <i class="ui flag om"></i>
        <i class="ui flag pa"></i>
        <i class="ui flag pe"></i>
        <i class="ui flag pf"></i>
        <i class="ui flag pg"></i>
        <i class="ui flag ph"></i>
        <i class="ui flag pk"></i>
        <i class="ui flag pl"></i>
        <i class="ui flag pm"></i>
        <i class="ui flag pn"></i>
        <i class="ui flag pr"></i>
        <i class="ui flag ps"></i>
        <i class="ui flag pt"></i>
        <i class="ui flag pw"></i>
        <i class="ui flag py"></i>
        <i class="ui flag qa"></i>
        <i class="ui flag re"></i>
        <i class="ui flag ro"></i>
        <i class="ui flag rs"></i>
        <i class="ui flag ru"></i>
        <i class="ui flag rw"></i>
        <i class="ui flag sa"></i>
        <i class="ui flag sb"></i>
        <i class="ui flag sc"></i>
        <i class="ui flag sd"></i>
        <i class="ui flag se"></i>
        <i class="ui flag sg"></i>
        <i class="ui flag sh"></i>
        <i class="ui flag si"></i>
        <i class="ui flag sj"></i>
        <i class="ui flag sk"></i>
        <i class="ui flag sl"></i>
        <i class="ui flag sm"></i>
        <i class="ui flag sn"></i>
        <i class="ui flag so"></i>
        <i class="ui flag sr"></i>
        <i class="ui flag sv"></i>
        <i class="ui flag sy"></i>
        <i class="ui flag sz"></i>
        <i class="ui flag tc"></i>
        <i class="ui flag td"></i>
        <i class="ui flag tf"></i>
        <i class="ui flag tg"></i>
        <i class="ui flag th"></i>
        <i class="ui flag tj"></i>
        <i class="ui flag tk"></i>
        <i class="ui flag tl"></i>
        <i class="ui flag tm"></i>
        <i class="ui flag tn"></i>
        <i class="ui flag to"></i>
        <i class="ui flag tr"></i>
        <i class="ui flag tt"></i>
        <i class="ui flag tv"></i>
        <i class="ui flag tw"></i>
        <i class="ui flag tz"></i>
        <i class="ui flag ua"></i>
        <i class="ui flag ug"></i>
        <i class="ui flag um"></i>
        <i class="ui flag us"></i>
        <i class="ui flag uy"></i>
        <i class="ui flag uz"></i>
        <i class="ui flag va"></i>
        <i class="ui flag vc"></i>
        <i class="ui flag ve"></i>
        <i class="ui flag vg"></i>
        <i class="ui flag vi"></i>
        <i class="ui flag vn"></i>
        <i class="ui flag vu"></i>
        <i class="ui flag wf"></i>
        <i class="ui flag ws"></i>
        <i class="ui flag ye"></i>
        <i class="ui flag yt"></i>
        <i class="ui flag za"></i>
        <i class="ui flag zm"></i>
        <i class="ui flag zw"></i>
    </div>
</div>
