<div class="ui segment blue">
    <h3 class="ui header">图片</h3>
    <div class="ui segment teal">
        <img class="ui small image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <div class="ui small image">
            <img src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        </div>
        <div class="ui small image">
            <svg width="150" height="150">
                <image xmlns:xlink="http://www.w3.org/1999/xlink"
                       xlink:href="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg"
                       x="0" y="0" width="100%" height="100%"></image>
            </svg>
        </div>
        <a href="http://google.com" class="ui medium image">
            <img src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        </a>
        <img class="disabled medium ui image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <img class="ui medium bordered image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <img class="ui medium rounded image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <img class="ui medium circular image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <img class="ui top aligned tiny image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <span>Top Aligned</span>
        <div class="ui divider"></div>
        <img class="ui middle aligned tiny image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <span>Middle Aligned</span>
        <div class="ui divider"></div>
        <img class="ui bottom aligned tiny image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <span>Bottom Aligned</span>
    </div>
    <div class="ui segment teal">
        <img class="ui centered medium image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
            aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
            electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
        <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo.
            Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo
            vide phaedrum, vim vivendum maiestatis in.</p>
        <img class="ui small centered image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
            illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi
            te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
            postulant per id.</p>
    </div>
    <div class="ui segment teal">
        <p>Te eum doming eirmod, nominati pertinacia <img class="ui mini spaced image"
                                                          src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
            argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret
            referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum
            definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
    </div>
    <div class="ui segment teal">
        <p><img class="ui mini right spaced image"
                src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">Audiam
            quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis
            sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide
            phaedrum, vim vivendum maiestatis in.</p>
        <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
            illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi
            te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
            postulant per id.<img class="ui mini left spaced image"
                                  src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        </p>
    </div>
    <div class="ui segment teal">
        <img class="ui small left floated image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
            aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
            electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
        <img class="ui small right floated image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo.
            Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo
            vide phaedrum, vim vivendum maiestatis in.</p>
        <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
            illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi
            te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
            postulant per id.</p>
    </div>
    <div class="ui segment teal">
        <img class="ui mini image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <img class="ui tiny image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <img class="ui small image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <img class="ui medium image"
             src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        <!--<img class="ui large image"-->
        <!--src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">-->
        <!--<img class="ui big image"-->
        <!--src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">-->
        <!--<img class="ui huge image"-->
        <!--src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">-->
        <!--<img class="ui massive image"-->
        <!--src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">-->
    </div>
    <div class="ui segment teal">
        <div class="ui tiny images">
            <img class="ui image"
                 src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
            <img class="ui image"
                 src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
            <img class="ui image"
                 src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
            <img class="ui image"
                 src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui small images">
            <img src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
            <img src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
            <img src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
            <img src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/2f738bd4b31c870110a8db9e217f9e2f0708ffa8.jpg">
        </div>
    </div>
</div>
