<div class="ui segment blue">
    <div class="ui segment teal">
        <div class="ui fade reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/ade.jpg" class="ui small image">
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui small fade reveal image">
            <img class="visible content" src="/images/wireframe/square-image.png">
            <img class="hidden content" src="/images/avatar/large/ade.jpg">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui move reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/chris.jpg" class="ui small image">
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui move right reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/jenny.jpg" class="ui small image">
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui move up reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/justen.jpg" class="ui small image">
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui move down reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/nan.jpg" class="ui small image">
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui small circular rotate reveal image">
            <img src="/images/wireframe/square-image.png" class="visible content">
            <img src="/images/avatar/large/stevie.jpg" class="hidden content">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui small circular rotate left reveal image">
            <img src="/images/wireframe/square-image.png" class="visible content">
            <img src="/images/avatar/large/veronika.jpg" class="hidden content">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui small fade reveal image">
            <img class="visible content" src="/images/avatar/large/ade.jpg">
            <img class="hidden content" src="/images/wireframe/square-image.png">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui small fade reveal image">
            <img class="visible content" src="/images/wireframe/square-image.png">
            <img class="hidden content" src="/images/avatar/large/ade.jpg">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui active move left reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/nan.jpg" class="ui small image">
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui instant move reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/chris.jpg" class="ui small image">
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui disabled move reveal">
            <div class="visible content">
                <img src="/images/wireframe/square-image.png" class="ui small image">
            </div>
            <div class="hidden content">
                <img src="/images/avatar/large/chris.jpg" class="ui small image">
            </div>
        </div>
    </div>
</div>
