<div class="ui segment blue">
    <h3 class="ui header">输入</h3>
    <div class="ui segment teal">
        <div class="ui input">
            <input type="text" placeholder="Search...">
        </div>
        <div class="ui input focus">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui left icon input loading">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
        <div class="ui icon input loading">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui disabled input">
            <input type="text" placeholder="Search...">
        </div>
        <div class="ui disabled icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search...">
        </div>
        <div class="ui input">
            <input type="text" placeholder="Search..." disabled="">
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
        <div class="ui left icon input">
            <input type="text" placeholder="Search users...">
            <i class="users icon"></i>
        </div>
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="circular search link icon"></i>
        </div>
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="inverted circular search link icon"></i>
        </div>
        <div class="ui labeled input">
            <div class="ui label">
                http://
            </div>
            <input type="text" placeholder="mysite.com">
        </div>
        <div class="ui right labeled input">
            <input type="text" placeholder="Find domain">
            <div class="ui dropdown label">
                <div class="text">.com</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">.com</div>
                    <div class="item">.net</div>
                    <div class="item">.org</div>
                </div>
            </div>
        </div>
        <div class="ui right labeled input">
            <input type="text" placeholder="Enter weight..">
            <div class="ui basic label">
                kg
            </div>
        </div>
        <div class="ui right labeled input">
            <div class="ui label">$</div>
            <input type="text" placeholder="Amount">
            <div class="ui basic label">.00</div>
        </div>
        <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input type="text" placeholder="Enter tags">
            <a class="ui tag label">
                Add Tag
            </a>
        </div>
        <div class="ui left corner labeled input">
            <input type="text" placeholder="Search...">
            <div class="ui left corner label">
                <i class="asterisk icon"></i>
            </div>
        </div>
        <div class="ui corner labeled input">
            <input type="text" placeholder="Search...">
            <div class="ui corner label">
                <i class="asterisk icon"></i>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui action input">
            <input type="text" placeholder="Search...">
            <button class="ui button">Search</button>
        </div>
        <div class="ui left action input">
            <button class="ui teal labeled icon button">
                <i class="cart icon"></i>
                Checkout
            </button>
            <input type="text" value="$52.03">
        </div>
        <div class="ui right action left icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search">
            <div class="ui basic floating dropdown button">
                <div class="text">This Page</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">This Organization</div>
                    <div class="item">Entire Site</div>
                </div>
            </div>
        </div>
        <div class="ui action input">
            <input type="text" placeholder="Search...">
            <select class="ui compact selection dropdown">
                <option value="all">All</option>
                <option selected="" value="articles">Articles</option>
                <option value="products">Products</option>
            </select>
            <div type="submit" class="ui button">Search</div>
        </div>
        <div class="ui action input">
            <input type="text" value="http://ww.short.url/c0opq">
            <button class="ui teal right labeled icon button">
                <i class="copy icon"></i>
                Copy
            </button>
        </div>
        <div class="ui action input">
            <input type="text" placeholder="Search...">
            <button class="ui icon button">
                <i class="search icon"></i>
            </button>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui transparent input">
            <input type="text" placeholder="Search...">
        </div>
        <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
        <div class="ui transparent left icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui inverted segment">
            <div class="ui inverted input">
                <input type="text" placeholder="Search...">
            </div>
            <div class="ui inverted divider"></div>
            <div class="ui inverted left icon input">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="ui inverted divider"></div>
            <div class="ui inverted transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui fluid icon input">
            <input type="text" placeholder="Search a very wide input...">
            <i class="search icon"></i>
        </div>
        <div class="ui fluid action input">
            <input type="text" placeholder="Search...">
            <div class="ui button">Search</div>
        </div>
    </div>
    <div class="ui segment teal">
        <div class="ui mini icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        <div class="ui small icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        <div class="ui large icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
