<div class="ui segment blue">
    <div class="ui segment teal">
        <div class="ui segment">
            <div class="ui left internal rail">
                <div class="ui segment">
                    Left Rail Content
                </div>
            </div>
            <div class="ui right internal rail">
                <div class="ui segment">
                    Right Rail Content
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui left dividing rail">
                <div class="ui segment">
                    Left Rail Content
                </div>
            </div>
            <div class="ui right dividing rail">
                <div class="ui segment">
                    Right Rail Content
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui left attached rail">
                <div class="ui segment">
                    Left Rail Content
                </div>
            </div>
            <div class="ui right attached rail">
                <div class="ui segment">
                    Right Rail Content
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui left internal attached rail">
                <div class="ui segment">
                    Left Rail Content
                </div>
            </div>
            <div class="ui right internal attached rail">
                <div class="ui segment">
                    Right Rail Content
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui left close rail">
                <div class="ui segment">
                    Left Rail Content
                </div>
            </div>
            <div class="ui right close rail">
                <div class="ui segment">
                    Right Rail Content
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui left very close rail">
                <div class="ui segment">
                    Left Rail Content
                </div>
            </div>
            <div class="ui right very close rail">
                <div class="ui segment">
                    Right Rail Content
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui left mini rail">
                <div class="ui segment">
                    Mini
                </div>
            </div>
            <div class="ui right tiny rail">
                <div class="ui segment">
                    Tiny
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui left small rail">
                <div class="ui segment">
                    Small
                </div>
            </div>
            <div class="ui right large rail">
                <div class="ui segment">
                    Large
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui left big rail">
                <div class="ui segment">
                    Big
                </div>
            </div>
            <div class="ui right huge rail">
                <div class="ui segment">
                    Huge
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="ui segment">
            <div class="ui right massive rail">
                <div class="ui segment">
                    Massive
                </div>
            </div>
            <p></p>
            <p></p>
        </div>
    </div>
</div>
